/* Geral */
body {
    padding: 20px;
}

/* Estilo para a tag parágrafos */
p {
    color: rgb(0, 21, 139);
    font-size: 30px;
}

/* Estilo para a classe de paragrafos numerados */
.p-numerados {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 43, 104);
    background-color: rgb(156, 50, 205);
}

#p1 {
    background-color: black;
    color: rgba(204, 0, 255, 0.205);
}

h2 {
    border-bottom: 1px solid rgb(0, 0, 0);
}

/* Todos elementos da página */
* {
    font-family: arial;
}

.decoration {
    text-decoration: none;
    transition: 0.5s;
}

a:visited {
    color: rgb(10, 9, 9)
}

a:hover {
    background-color: rgba(0, 132, 255, 0.493);
}

/* Fontes */
.serifada {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sem-serifa {
    font-family: Arial, Helvetica, sans-serif;
}

.monoespacada {
    font-family: 'Courier New', Courier, monospace;
}

.caixa {
    width: 150px;
    height: 100px;
    border: 10px solid blue;
    padding: 100px;
    margin: 10px;
}